.light-theme{

  .form-container{
    background-color: #f1f1f1;
  }

  .form-btn button{
    background-color: #fe4600 !important;
    color: #f1f1f1;
  }

}

.main-container{
  background-color: var(--background-color) !important;
}

.form-banner{
  height: 200px;
  background-color: var(--main-color);
}

.form-container{
  background-color: var(--text-color);
  margin-top: 30%;
  border-radius: 5px;
  padding: 30px 50px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
} 

.form-heading h1{
  color: black;
  font-size: 25px;
  font-weight: 600;
  font-family: var(--text-font-family);
}

.form-field{
  width: 100%;
}

.form-btn button{
  background-color: var(--background-color);
  color: var(--main-color);
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 19px;
  border: none;
  border-radius: 5px;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: var(--text-font-family);
}

.form-btn button:hover{
  cursor: pointer;
  background-color: var(--background-color) !important;
  border: 2px solid var(--main-color) !important;
}

.form-btn button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-btn button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45px;
  width: 145px;
  border-radius: 7px;
  background: rgba(83, 83, 83, 0.5);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.form-btn button:active::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.custom-input::placeholder {
  color: rgb(157 157 157) !important;
  font-size: 16px;
  font-family: var(--text-font-family);
}

.text-area-input{
  height: 80px;
  padding: 10px;
  resize: none;
}

textarea::placeholder {
  color: rgb(157 157 157) !important;
  font-size: 16px;
  font-family: var(--text-font-family);
}

.social-media-icons img{
  height: 30px;
  width: 30px;
  margin: 0px 10px;
}

.social-media-icons img:hover{
  cursor: pointer;
}

@media screen and (max-width: 959px){
  .form-container{
    margin-top: 100%;
  } 
}

@media screen and (max-width: 600px) {
  .form-container{
    margin-top: 150%;
    padding: 20px;
  } 
  .form-heading h1{
    font-size: 20px;
  }
}