.light-theme{

  .download-cv{
    color: #f1f1f1;
  }

  .download-cv:hover{
    color: var(--text-color) !important;
  }

  .explore-more{
    color: #f1f1f1;
  }

  .explore-more:hover{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: 2px solid var(--text-color) !important;
  }

}

.container{
  background-color: var(--background-color);
  min-height: calc(100vh - 90px);
}

.dashboard-content h2{
  font-size: 25px;
  font-weight: 600;
  font-family: var(--text-font-family);
  color: var(--text-color);
}

.dashboard-content h1{
  font-size: 35px;
  font-weight: 600;
  font-family: var(--text-font-family);
  color: var(--text-color);
}

.dashboard-animate{
  margin-bottom: 5px !important;
}

.dashboard-animate .animate-text{
  position: relative;
  overflow: hidden;
  height: 37px;
}

.dashboard-animate .animate-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  background-color: var(--background-color);
  border-left: 2px solid var(--main-color);
  animation: animate 4s steps(12) infinite;
}

.author-name{
  color: var(--main-color);
}

.skills-content {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: 19px;
  margin: 7px 0 17px 0 !important;
  line-height: 1.4em;
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
}

.contact-address p{
  color: var(--main-color);
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: var(--text-font-family);
}

.contact-address .contact-icon{
  color: var(--main-color);
  font-size: 19px;
}

.dashboard-btn button{
  height: 45px;
  width: 145px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
  font-family: var(--text-font-family);
  font-weight: 600;
  transition: all 0.5s;
}

.download-cv{
  background-color: var(--main-color);
  color: var(--text-color);
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.download-cv:hover{
  cursor: pointer;
  background-color: var(--background-color) !important;
  border: 2px solid var(--main-color) !important;
  transform: translateY(-5px);
}

.download-cv:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-cv::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45px;
  width: 145px;
  border-radius: 7px;
  background: rgba(83, 83, 83, 0.5);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.download-cv:active::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.explore-more{
  background-color: #0a0a0a;
  color: var(--text-color);
}

.explore-more:hover{
  cursor: pointer;
  background-color: var(--text-color) !important;
  color: var(--background-color) !important;
  transform: translateY(-5px);
}

.explore-more:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.explore-more::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45px;
  width: 145px;
  border-radius: 7px;
  background: rgba(46, 46, 46, 0.5);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.explore-more:active::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.image-content{
  height: 350px;
  width: 350px;
  background-color: var(--main-color);
  animation: moving 4s ease-in-out infinite;
  border-radius: 30% 70% 50% 50% / 54% 87% 13% 46% ;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.image-content img{
  position: relative;
  top: -85px;
}

@keyframes moving{
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-22px);
  }

  100%{
    transform: translateY(0px);
  }
}

@keyframes animate {
  40%, 60%{
    left: calc(100% + 4px);
  }
  100%{
    left: 0%;
  }
}



// chat box design

$base-height: 377px;
$base-dimension: 16px;
$base-border-radius: 12px;
$base-button-size: 60px;
$accent-color: #f6f7f9;
$background-color: #fff;
$font-color: #888;


.message-heading h1{
  font-size: 20px;
  font-family: var(--text-font-family);
}

@mixin chabox-container {
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
}

@mixin chatbox-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: $base-dimension;
  color: $background-color;
  background-color: var(--main-color);
  align-items: center;
  justify-content: space-around;
}

@mixin chatbox-main {
  box-sizing: border-box;
  width: 100%;
  padding: calc(2 * #{$base-dimension}) #{$base-dimension};
  line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
  color: $font-color;
  text-align: center;
}

@mixin chatbox-footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: $base-dimension;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
}

@mixin chatbox-floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: $base-button-size;
  height: $base-button-size;
  color: $background-color;
  background-color: var(--main-color);
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: $accent-color;
}

h1 {
  margin: 0;
  font-size: $base-dimension;
  line-height: 1;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;

  &.chatbox-open {
    @include chatbox-floating-button;
    margin: $base-dimension;
  }

  &.chatbox-close {
    @include chatbox-floating-button;
    display: none;
    margin: $base-dimension calc(2 * #{$base-dimension} + #{$base-button-size})
      $base-dimension $base-dimension;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: calc(#{$base-dimension} + #{$base-dimension} / 2);
  padding: 0 calc(#{$base-dimension} / 2);
  font-family: inherit;
  font-size: $base-dimension;
  line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
  color: $font-color;
  background-color: none;
  border: 0;
  outline: 0 !important;
  resize: none;
  overflow: hidden;

  &::placeholder {
    color: $font-color;
  }
}

.chatbox-popup {
  @include chabox-container;
  display: none;
  bottom: calc(2 * #{$base-dimension} + #{$base-button-size});
  right: $base-dimension;
  width: $base-height;
  height: auto;
  background-color: $background-color;
  border-radius: $base-dimension;

  .chatbox-popup__header {
    @include chatbox-header;
    border-top-right-radius: $base-border-radius;
    border-top-left-radius: $base-border-radius;

    .chatbox-popup__avatar {
      margin-top: -32px;
      background-color: var(--main-color);
      border: 5px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }
  }

  .chatbox-popup__main {
    @include chatbox-main;
  }

  .chatbox-popup__footer {
    @include chatbox-footer;
    border-bottom-right-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
  }
}

.chatbox-panel {
  @include chabox-container;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  width: $base-height;
  background-color: $background-color;

  .chatbox-panel__header {
    @include chatbox-header;
    flex: 0 0 auto;
  }

  .chatbox-panel__main {
    @include chatbox-main;
    flex: 1 1 auto;
  }

  .chatbox-panel__footer {
    @include chatbox-footer;
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 550px){

  .container{
    padding-bottom: 20px;
  }

  .image-content{
    animation: none;
  }

  .image-content img{
    top: -50px;
  }

  .dashboard-content h1,
  .dashboard-content h2{
    font-size: 22px;
  }

  .image-content{
    height: 300px;
    width: 300px;
  }

  // .image-content img{
  //   min-width: 375px;
  //   position: static;
  // }

  .skills-content{
    font-size: 15px;
  }

  .contact-address p{
    font-size: 15px;
  }
  
  .contact-address .contact-icon{
    font-size: 15px;
  }

  .dashboard-animate .animate-text{
    height: 26px;
  }

  .contact-address-container{
    margin-bottom: 10px !important;
  }

  .chatbox-popup{
    width: 290px !important;
  }

}

@media screen and (max-width: 380px) {
  .small-screen-image{
    padding-top: 30px;
  }

  .image-content{
    height: 250px;
    width: 250px;
  }

  .image-content img{
    min-width: 250px;
  }
}