.light-theme{

  .download-cv{
    color: #f1f1f1;
  }

  .download-cv:hover{
    color: var(--text-color) !important;
  }

  .explore-more{
    color: #f1f1f1;
  }

  .explore-more:hover{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: 2px solid var(--text-color) !important;
  }

}

.container{
  background-color: var(--background-color);
  height: 86vh;
}

.dashboard-content h2{
  font-size: 25px;
  font-weight: 600;
  font-family: var(--text-font-family);
  color: var(--text-color);
}

.dashboard-content h1{
  font-size: 35px;
  font-weight: 600;
  font-family: var(--text-font-family);
  color: var(--text-color);
}

.dashboard-animate{
  margin-bottom: 0px !important;
}

.dashboard-animate .animate-text{
  position: relative;
  overflow: hidden;
  height: 37px;
}

.dashboard-animate .animate-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  background-color: var(--background-color);
  border-left: 2px solid var(--main-color);
  animation: animate 4s steps(12) infinite;
}

.author-name{
  color: var(--main-color);
}

.dashboard-content p{
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: 18px;
  margin: 0px 0px 30px 0px !important;
  line-height: 1.3em;
}

.dashboard-btn button{
  height: 45px;
  width: 145px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
  font-family: var(--text-font-family);
  font-weight: 600;
  transition: all 0.5s;
}

.download-cv{
  background-color: var(--main-color);
  color: var(--text-color);
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.download-cv:hover{
  cursor: pointer;
  background-color: var(--background-color) !important;
  border: 2px solid var(--main-color) !important;
  transform: translateY(-5px);
}

.download-cv:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-cv::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45px;
  width: 145px;
  border-radius: 7px;
  background: rgba(83, 83, 83, 0.5);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.download-cv:active::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.explore-more{
  background-color: #0a0a0a;
  color: var(--text-color);
}

.explore-more:hover{
  cursor: pointer;
  background-color: var(--text-color) !important;
  color: var(--background-color) !important;
  transform: translateY(-5px);
}

.explore-more:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.explore-more::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45px;
  width: 145px;
  border-radius: 7px;
  background: rgba(46, 46, 46, 0.5);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.explore-more:active::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.image-content{
  height: 350px;
  width: 350px;
  background-color: var(--main-color);
  animation: moving 4s ease-in-out infinite;
  border-radius: 30% 70% 50% 50% / 54% 87% 13% 46% ;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.image-content img{
  position: relative;
  top: -85px;
}

@media screen and (max-width: 550px){
  
  .dashboard-content{
    text-align: center;
  }

  .dashboard-btn{
    justify-content: center;
  }
  
  .image-content img{
    width: 400px;
  }
}

@keyframes moving{
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-22px);
  }

  100%{
    transform: translateY(0px);
  }
}

@keyframes animate {
  40%, 60%{
    left: calc(100% + 4px);
  }
  100%{
    left: 0%;
  }
}