.journy-heading h1{
  color: var(--text-color);
  font-size: 33px;
  font-family: var(--text-font-family);
  font-weight: 600;
}

.journy-heading span{
  color: var(--main-color);
}

.education-content h3,
.experience-content h3{
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
  font-family: var(--text-font-family);
}

.side-line{
  padding: 2px;
  margin: 0px 5%;
  background-color: var(--main-color);
}

.side-line-circle{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
}

.connection-line{
  width: 35px;
  background-color: var(--main-color);
  padding: 2px;
  position: absolute;
  top: 6px;
}

.card{
  max-width: 500px;
  border: 3px solid var(--main-color);
  margin: 10px 0px;
  padding: 8% 4%;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11);
}

.content-box{
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background-color: var(--main-color);
}

.card-year{
  color: var(--main-color);
}

.card-content{
  color: var(--text-color);
  font-size: 21px;
  font-family: var(--text-font-family);
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
}

.card-aboutus{
  color: var(--text-color);
  font-size: 17px;
  line-height: 0.6cm;
  letter-spacing: 0.5px;
  font-family: var(--text-font-family);
}

@media screen and (max-width: 599px) {
  .connection-line{
    width: 25px;
  }
}