<div fxLayoutAlign="center center" class="container" [ngClass]="{'light-theme':!commonService.isDarkTheme}">
  <div fxFlex="90%">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="7%" class="aboutus-banner">
      <div fxFlex="40%" fxLayoutAlign.lt-md="center center" class="aboutus-banner-image">
        <img src="/assets/aboutMe.jpg">
      </div>
      <div fxFlex="60%" fxLayout="column" fxLayoutGap="4%" class="aboutus-banner-content">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%">
          <div fxFlex="50%" fxLayout="column" class="experience-content"> 
              <img src="/assets/experience.png">
              <h2>Experience</h2>
              <p>2.5 years</p>
              <p>Full Stack Development</p>
          </div>
          <div fxFlex="50%" fxLayout="column" class="education-content">
            <img src="/assets/degree.png">
            <h2>Education</h2>
            <p>B.E</p>
            <p>Computer Science And Engineering</p>
          </div>
        </div>
        <p class="about-me-description">Contributed to key modules of a scalable Angular-based e-commerce platform, enhancing critical UI features and overall performance.</p>
        <p class="about-me-description">Developed dynamic and reusable UI components using Angular Forms, Services, Pipes, and Angular Material to boost development efficiency.</p>
        <div class="talk-btn">
          <button class="aboutus-btn" routerLink="/app/contactus">Let's Talk</button>
        </div>
      </div>
    </div>
    <app-my-journey></app-my-journey>
  </div>
</div>