/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #f8fcf5,
  100 : #eef6e7,
  200 : #e3f1d7,
  300 : #d8ebc6,
  400 : #cfe6ba,
  500 : #c7e2ae,
  600 : #c1dfa7,
  700 : #bada9d,
  800 : #b3d694,
  900 : #a6cf84,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f9fff5,
  A700 : #ebffdb,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
  50 : #f2fafe,
  100 : #dff2fd,
  200 : #caeafc,
  300 : #b5e2fb,
  400 : #a5dbfa,
  500 : #95d5f9,
  600 : #8dd0f8,
  700 : #82caf7,
  800 : #78c4f6,
  900 : #67baf5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #e5f4ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);